<div class="card-body">
  <div class="table-responsive">
    <table
      class="table table-bordered"
      id="dataTable"
      width="100%"
      cellspacing="0"
    >
      <thead>
        <tr>
          <th>No</th>
          <th>Date</th>
          <th>Title</th>
          <th>Customer Name</th>
          <th>Bank Name</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% booking.forEach((data, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= data.bookingStartDate.toLocaleString().split(',')[0] %> s/d <%= data.bookingEndDate.toLocaleString().split(',')[0] %></td>
            <td><%= data.item.title %></td>
            <td><%= data.payments.transferFrom %></td>
            <td><%= data.payments.transferFromBank %></td>
            <td><%= data.payments.status %></td>
            <td class="text-center">
              <a
                class="btn btn-success btn-edit"
                href="/admin/booking/<%= data._id %>"
                type="button"
                data-id="<%= data._id %>"
              >
                Detail
              </a>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>
</div>
