<div class="card-body">
  <div class="table-responsive">
    <table
      class="table table-bordered"
      id="dataTable"
      width="100%"
      cellspacing="0"
    >
      <thead>
        <tr>
          <th>No</th>
          <th>Title</th>
          <th>Price</th>
          <th>Country</th>
          <th>City</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((data, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= data.title %></td>
            <td>$ <%= data.price %></td>
            <td><%= data.country %></td>
            <td><%= data.city %></td>
            <td class="text-center">
              <a
                class="btn btn-success btn-edit"
                href="/admin/item/<%= data._id %>"
              >
                Detail
              </a>
              |
              <a
                class="btn btn-danger btn-delete"
                href="#"
                type="button"
                data-id="<%= data._id %>"
              >
                Delete
              </a>
              |
              <a
                class="btn btn-warning btn-detail"
                href="/admin/item/facility/<%= data._id %>"
                data-id="<%= data._id %>"
              >
                Facility
              </a>
              |
              <a
                class="btn btn-primary btn-detail"
                href="/admin/item/activity/<%= data._id %>"
                data-id="<%= data._id %>"
              >
                Activity
              </a>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </div>
</div>
