<div class="card-body">
  <div class="table-responsive">
    <table
      class="table table-bordered"
      id="dataTable"
      width="100%"
      cellspacing="0"
    >
      <thead>
        <tr>
          <th>No</th>
          <th>Name</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach((data, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= data.name %></td>
          <td class="text-center">
            <a
              class="btn btn-success btn-edit"
              href="#"
              type="button"
              data-id="<%= data._id %>"
              data-name="<%= data.name %>"
            >
              Edit
            </a>
            |
            <a
              class="btn btn-danger btn-delete"
              href="#"
              type="button"
              data-id="<%= data._id %>"
            >
              Delete
            </a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>


