<%- include('../..//parts/header.ejs') %> 
  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <%- include('../..//parts/sidebar.ejs') %> 
      

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

          <%- include('../../parts/navbar.ejs') %> 
          

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 mb-4 text-gray-800">Lists Bank</h1>

            <a href="" data-toggle="modal" data-target="#addModal" class="btn btn-primary">Add Bank</a>

            <%- include('./message.ejs') %>
          </div>
          
          <%- include('table') %> 

          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <%- include('../../parts/footer.ejs') %> 

        
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <%- include('./modalAdd.ejs') %> 
    <%- include('./modalEdit.ejs') %> 
    <%- include('./modalDelete.ejs') %> 
    <!-- End of Page Wrapper -->
    <%- include('../../parts/script.ejs') %> 
  </body>
</html>

<script>
  $('#dataTable').on('click', '.btn-edit', function() {
    let id = $(this).data('id');
    let name = $(this).data('name');
    let bank = $(this).data('bank');
    let no = $(this).data('no');
    let image = $(this).data('image');

    $('#editModal').modal('show')
    $('.id').val(id);
    $('.name').val(name);
    $('.bank').val(bank);
    $('.no').val(no);
    $('.image').val(image);
  })
</script>

<script>
  $('#dataTable').on('click', '.btn-delete', function() {
    let id = $(this).data('id');
    $('#deleteModal').modal('show')
    $('.id').val(id);
  })
</script>
